<div class="wrapper container">
    <form [formGroup]="candidateForm" (ngSubmit)="UpdateCandidateData()">
      <div class="row">
        <div class="col-6">
          <h2>Update Candidate Data</h2>
          <input type="hidden" formControlName="candidateId" class="form-control">
          <div class="form-group">
            <label class="control-label" for="candidateName">Candidate Name</label>
            <div class="col-md-10">
              <input type="text" formControlName="candidateName" class="form-control">
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-md-2 control-label" for="">Birth Date</label>
            <div class="col-md-10">
              <input type="date" formControlName="dateOfBirth" class="form-control">
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-md-2 control-label" for="">Phone No</label>
            <div class="col-md-10">
              <input type="text" formControlName="mobileNo" class="form-control">
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-md-2 control-label" for="">Picture</label>
            <div class="col-md-10">
              <input type="file" class="form-control" (change)="onFileSelected($event)">
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-md-2 control-label" for="">Fresher</label>
            <div class="col-md-10">
              <div class="checkbox">
                <input type="checkbox" formControlName="isFresher">
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-2">
              <button type="submit" class="btn btn-outline-warning btn-sm">Update</button>
            </div>
          </div>
        </div>
  
        <div class="col-6">
          <h2>Select Skills</h2>
          <div class="d-flex justify-content-end mb-4">
            <button type="button" (click)="addSkill()" class="btn btn-outline-info">+</button>
          </div>
  
          <ng-container formArrayName="skillsList">
            <ng-container *ngFor="let p of SkillListArray.controls; let i = index">
              <div [formGroupName]="i">
  
                <div class="form-group row mb-2">
                  <div class="col-10">
                    <select formControlName="skillId" class="form-control">
                      <option disabled value="null">---Select---</option>
                      <option *ngFor="let item of skillList" value="{{item.skillId}}">{{item.skillName}}</option>
                    </select>
                  </div>
                  <div class="col-2">
                    <button (click)="removeSkill(i)" class="btn btn-outline-danger btn-sm">X</button>
                  </div>
                </div>
  
              </div>
            </ng-container>
          </ng-container>
  
        </div>
  
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-end me-2">
    <button [routerLink]="['/details']" style="margin-left:100px" class="btn btn-sm offset text-primary">Back To List</button>
  </div>
